


<div class="jumbotron">
  <h1>Rapid Predictor</h1> 
  <p>Machine learing tool for data prediction...</p> 
</div>

{{#ui-progress percent=progressOne class="teal indicating"}}
  <div class="bar"></div>

{{/ui-progress}}



{{outlet}}