
<div class="row">
  <div class="col" style="margin-left: 15%;">
{{#each model.data as |feature|}}
<br/> {{ui-checkbox class="toggle" label=feature.name checked=feature.pre_checked onChange=(action (mut feature.pre_checked))}}


{{/each}}



</div>
 <div class="col">

{{#each selectedFeatures as |feature|}}
<br/>{{feature.name}} 
{{/each}}
 </div>
   <div class="col">

       {{#link-to 'predictfor'}} >>>>> NEXT >>>>>{{/link-to}}

   </div>


</div>