

<button class="btn btn-primary" {{action 'predict' algo}}>PREDICT</button>

<div class='row'>
    <div class = 'col'>
        <button class="btn btn-primary" {{action 'predict' 'knn'}}>PREDICT</button>
    </div>
    <div class = 'col'></div>
    <div class = 'col'></div>
</div>